* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

/* navbar and logo styling */

.header-container {
    display: flex;
    background: #1F2937;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    padding-left: 150px;
    text-align: center;
    line-height: 30px;
}

.header-links {
    padding-right: 150px;
    font-size: 18px;
    color: #E5E7EB;
    line-height: 30px;
}

.nav-link {
    margin: 0;
    padding-left: 25px;
}

/* first part of main content styling. Header area  */
.main-container {
    display: flex;
    justify-content: space-between;
    background: #1F2937;
    padding-top: 100px;
    padding-bottom: 125px;
    padding-left: 150px;
    padding-right: 150px;
}

.main-text {
    width: 450px;
}

.main-img {
    align-items: right;
    background-color: grey;
    width: 400px;
    text-align: center;
    vertical-align: middle;
    line-height: 158px;
}

.main-img-text {
    color: #E5E7EB;
}

.title-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: extra-bold;
}

.secondary-text {
    font-size: 16px;
    color: #E5E7EB;
}

.signup-btn {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border: none;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 4px;
    margin-top: 10px;
}

/* Second part of main styling. Random info area*/

.second-container {
    display: flex;
    flex-direction: column;
    padding-top: 75px;
    padding-bottom: 100px;
    padding-left: 150px;
    padding-right: 150px;
}

.second-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: bold;
    text-align: center;
    padding-bottom: 25px;
}

.second-image-container {
    display: flex;
    justify-content: space-between;
    padding-right: 500px;
    padding-left: 500px;
}

.second-img {
    border: 2px solid #3882F6;
    border-radius: 10px;
    height: 100px;
    width: 100px;
}

.second-img-display {
    display: inline-block;
    width: 104px;
}

.second-img-description {
    font-size: 11px;
    color: grey;
}

/* Third part of main styling. Quote area */

.third-container {
    display: flex;
    flex-direction: column;
    background: #E5E7EB;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 150px;
    padding-right: 150px;
}

.quote {
    font-size: 18px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    padding-right: 500px;
    padding-left: 500px;
    padding-bottom: 10px;
    line-height: 1.5;
    word-spacing: 2px;
}

.quote-author {
    padding-left: 900px;
}

/* Make links not colourful */

a.nav-link:link
{
    color: #E5E7EB;
    text-decoration: none;
    font-weight: normal;
}
a.nav-link:visited
{
    color: #E5E7EB;
    text-decoration: none;
    font-weight: normal;
}
a.nav-link:hover
{
    color: #E5E7EB;
    text-decoration: none;
    font-weight: normal;
}
a.nav-link:active
{
    color: #E5E7EB;
    text-decoration: none;
    font-weight: normal;
}